body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: rowS;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: baseline;
}

#container div {
    width: 200px;
    height: 200px;
    font-size: 7em;
}

@media (max-width :400px)
    {
    h1 {
        color: red;
    }
}